@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// color
$red-color: #922b21;
$green-color: #1e8449;
$font-color: #393e46;
$container-color: #e8eae6;
$card-color: #ffffff;
$bar-color: #ffffff;
$bg-color: #ffffff;
$icon-color: #7c9473;

$light-green-color: #4caf50;

// size
$main-header-height: 60px;
$container-header-height: 55px;
$card-height: 50px;
$icon-size: 35px;

// font size
$font-lg: 1rem; // 16px
$font-md: 0.875rem; // 14px
$font-sm: 0.75rem; // 12px
$font-xs: 0.625rem; // 10px

* {
  font-family: 'Poppins', sans-serif;
  color: $font-color;
  font-size: $font-md;
}

html,
body {
  height: 100%;
}

body,
p,
button,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $font-color;
}
a:visited {
  color: $font-color;
}
button {
  border: none;
  background: transparent;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
  border-radius: 25px;
}

.header {
  @extend %flex-row-space-btw;
  position: sticky;
  align-items: center;
  width: 100%;
  height: $main-header-height;
  background-color: $bar-color;

  margin-bottom: 8px;
  top: 0;
  z-index: 100;

  .header-logo {
    line-height: $main-header-height;
    font-size: $font-lg;
    font-weight: 600;
  }
}

.cursor-pointer {
  cursor: pointer;
}
.btn-disabled {
  opacity: 0 !important;
  cursor: default !important;
}
@mixin btn-active($size, $font-size, $color) {
  height: $size !important;
  width: $size !important;

  i {
    font-size: $font-size;
    color: $color;
  }
}
.btn-add-history-plus {
  @include btn-active(40px, 1.5rem, #808386);
}
.btn-calendar-arrow {
  @include btn-active(35px, 1.2rem, $font-color);
}

.page-title {
  font-size: $font-lg;
  font-weight: 500;
  margin: 0 1rem 10px;
}

.container-box {
  background-color: $container-color;
  border-radius: 10px;
  padding-top: 2px;
  margin-bottom: 10px;
  // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .container-box-header {
    @extend %flex-row-space-btw;
    align-items: center;
    height: $container-header-height;
  }

  .container-box-title {
    font-size: $font-lg;
    font-weight: 500;
    margin-left: 1rem;
  }

  .container-box-content {
    padding: 12px;
  }
}

@mixin btn-sm($bg-color) {
  background-color: $bg-color;
  border-radius: 5px;
  padding: 7px 14px;
  font-size: $font-sm !important;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 0px 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)),
    0px 2px 2px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)),
    0px 1px 5px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.12));
}

.btn-sm-green {
  @include btn-sm($light-green-color);
}
.btn-sm-white {
  @include btn-sm(#ffffff);
}

%flex-row-space-btw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.v-field__input {
  min-height: 37px !important;
}
.v-input__details {
  padding: 6px $font-md 2px !important;
}
.v-messages__message {
  font-size: $font-sm;
}
.v-list {
  max-height: 210px !important;
}
.v-list-item-title {
  font-size: $font-md !important;
}
