@import './_main.scss';

.calendar-box {
  display: flex;
  align-items: center;

  .calendar-title {
    font-size: $font-md;
    font-weight: 500;
  }
}

.container-box-title-md {
  font-size: $font-lg;
  font-weight: 500;
  margin-left: 1rem;
}
