@import './_main.scss';

.calendar-box {
  display: flex;
  align-items: center;

  .calendar-title {
    font-family: 'AppleSDGothicNeoB';
    font-size: $font-md;
  }
}

.container-box-title-md {
  font-family: 'AppleSDGothicNeoB';
  font-size: $font-md;
  margin-left: 1rem;
}
